/*
 * Display Custom Post WordPress Plugin CSS For Frontend Custom Post Display 
*/  



#ultimate-post-main {
    width: 33%;
    display: inline-block;
    padding: 0 10px;
    box-sizing: border-box;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
    margin-bottom: 20px;
    float: left;
}
.ultimate-post-block .ultimate-post-thumb {
    height: 200px;
    overflow: hidden;
}
#ultimate-post-main .ultimate-post-block .ultimate-post-thumb img {
    height: 100%;
}
#ultimate-post-main .innerwrapper {
    padding: 10px;  
    background-color: #f9f9f9;
    box-sizing: border-box;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	width: 100%;
}
#ultimate-post-main .ultimate-post-block .innerwrapper h2 {
    margin: 10px 0;
    font-size: 17px;
    line-height: 23px;
}

#ultimate-post-main .ultimate-post-block h2 a {
    color: #405e77;
    text-decoration: none;
	transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in; 
	-webkit-transition: all 0.3s ease-in; 
}
#ultimate-post-main.ultimate-post-block h2 a:hover,
#ultimate-post-main .ultimate-post-block h2 a:active{
	opacity: 0.8;
	color: #405e77;
}
#ultimate-post-main .ultimate-post-block h2 a:hover{
	color: #222;
}
#ultimate-post-main .ultimate-post-block .innerwrapper p {
    margin-bottom: 15px;
}
#ultimate-post-main .ultimate-post-block a.read-more.button {
    color: #fff;
    text-decoration: none;
    background-color: #405e77;
    padding: 8px 11px;
    box-sizing: border-box;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
    border-radius: 4px;
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
    font-size: 14px;
    display: inline-block;
	transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in; 
	-webkit-transition: all 0.3s ease-in; 
}
#ultimate-post-main .ultimate-post-block a.read-more.button:hover{
	opacity: 0.8;
}
#ultimate-post-main .ultimate-post-thumb img {
    width: 100%;
}
.ultimate-post-nav-links a {
    background-color: #405E77;
    color: #fff;
    padding: 7px 12px;
    text-decoration: none;
} 
.ultimate-post-nav-links a:hover,
.ultimate-post-nav-links a:visited,
.ultimate-post-nav-links a:active,
.ultimate-post-nav-links span.page-numbers.current{
	opacity: 0.8;
    background-color: #405E77;
    color: #fff !important; 
    padding: 7px 12px;
}
.ultimate-post-nav-links {
    margin-top: 10px;
    padding-left: 10px;
}
.ultimate-post-nav-links {
    max-width: 100% !important;
    display: inline-block;
    width: 100% !important;
    text-align: center;
}
@media screen and (max-width:767px){
    #ultimate-post-main .ultimate-post-block .ultimate-post-thumb {
    height: auto;
    overflow: hidden;
}
.ultimate-post-block .ultimate-post-thumb img {
    height: auto;
}
#ultimate-post-main {
    width: 100%;
    padding: 0;
}
.ultimate-post-nav-links {
    padding-left: 0;
}
}